<% include header %>
<div class="container">
    <h1>Espace administration</h1>
    <p class="lead">Toute modification non autorisée peut entrainer des disfonctionnements d'OpenVPN, vérifiez les configurations avant de valider.</p>
    <hr>
    <h3>Ajouter une clé à un utilisateur</h3>
    <form aciton="#" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Compte</label>
            <select name="account" class="form-control">
                <option value="vsoapmctravich@gmail.com">soapmctravich@gmail.com</option>
                <option value="value3">truc@gmail.com</option>
            </select>
            <br>
            <input type="submit" class="btn btn-primary" value="Valider" style="float: right;"><br>
            <hr style="clear: both;">
        </div>
    </div>
    <form>
    </div>
    <% include footer %>
