<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>AresVPN Manager</title>
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <style>
    body{
        background: #232426;
    }
    p{
        color: #535456;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
    }
    #clock {
        color: #FFFFFF;
        line-height: 100%;
        font-size: 10em;
    }
    .row{
        margin-top: 150px;
        text-align: center;
        color: white;
    }
    .row .glyphicon{
        font-size: 100px;
    }
    .glyphicon:hover{
        cursor: pointer;
    }
    .success{
        color: #4f9fcf;
    }
    .error{
        color: #911a35;
    }
    </style>
</head>
<body>
    <div class="container">
        <script>
            function formatDate(timestamp){
                var timeFormat = new Date(timestamp)

                var hours = timeFormat.getHours()
                if (hours < 10) { hours = "0" + hours }

                var minutes = timeFormat.getMinutes()
                if (minutes < 10) { minutes = "0" + minutes }

                var seconds = timeFormat.getSeconds()
                if (seconds < 10) { seconds = "0" + seconds }

                var timeFormat = hours + ":" + minutes + ":" + seconds

                return timeFormat
            }

            function formatDay(timestamp){
                var timeFormat = new Date(timestamp)

                var dayOfWeek = ["Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi", "Dimanche"]
                var months = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"]

                var day = timeFormat.getDay()
                day = dayOfWeek[day]

                var month = timeFormat.getMonth()
                month = months[month]

                var nbrDay = timeFormat.getDate()

                var dateComplete = day + " " + nbrDay + " " + month

                return dateComplete
            }

            var time = new Date() * 1

            $("#clock").ready(function(){
                $("#clock").html(formatDate(time))
                $("#date").html(formatDay(time))

                setInterval(function(){ time = new Date() * 1; $("#clock").html(formatDate(time)); }, 1000);
                setInterval(function(){ time = new Date() * 1; $("#date").html(formatDay(time)); }, 1000);

                setTimeout(function(){ document.location.href="/dash"; }, 30000)
            })
        </script>
        <p><span id="clock">11:20:40</span></p>
        <p><span id="date">Friday, April 10</span></p>

        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <i class="glyphicon glyphicon-hdd success" data-toggle="tooltip" data-placement="bottom" title="Connexion au serveur"></i>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <% if (ping == "NaN"){%>
                    <i class="glyphicon glyphicon-globe error" data-toggle="tooltip" data-placement="bottom" title="Accès internet serveur"></i>
                <%}else{%>
                    <i class="glyphicon glyphicon-globe success" data-toggle="tooltip" data-placement="bottom" title="Accès internet serveur"></i>
                <%}%>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <% if (vpn == false){%>
                    <i class="glyphicon glyphicon-transfer error" data-toggle="tooltip" data-placement="bottom" title="Serveur OpenVPN"></i>
                <%}else{%>
                    <i class="glyphicon glyphicon-transfer success" data-toggle="tooltip" data-placement="bottom" title="Serveur OpenVPN"></i>
                <%}%>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <% if (vpn == false || nbrUsersOnline >= 6){%>
                    <i class="glyphicon glyphicon-user error" data-toggle="tooltip" data-placement="bottom" title="Charge du Serveur"></i>
                <%}else{%>
                    <i class="glyphicon glyphicon-user success" data-toggle="tooltip" data-placement="bottom" title="Charge du Serveur"></i>
                <%}%>
            </div>
        </div>

        <script>
            $('.glyphicon').tooltip()
        </script>
    </div>
</body>
</html>
