<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AresVPN Manager</title>

    <!-- JQuery -->
    <script src="/js/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/css/sandstone-theme.min.css">-->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Custom -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-inverse" style="border-radius: 0px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">AresVPN Manager</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="#about">A propos</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/dash"><i class="glyphicon glyphicon-resize-full"></i></a></li>
                    <% if (session.email !== undefined){%>
                        <li><a href="#"><%= session.email +  " (" + session.account + ")"%></a></li>
                    <%}else{%>
                        <li><a href="/login">Connexion</a></li>
                    <%}%>
                </ul>
            </div>
        </div>
    </nav>
