<% include header %>

<div class="container">
    <div class="starter-template">
        <div id="newaccount" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Merci!</strong> Votre compte a bien été créé, vous pouvez dès maintenant <a href="/login">vous connecter</a> !
        </div>

        <div id="connection" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Attention!</strong> vous devez être connecté pour voir cette page, vous pouvez dès maintenant <a href="/login">vous connecter</a> !
        </div>

        <h1>AresVPN Server</h1>
        <p class="lead">Serveur VPN Ares, consultez ici votre compte, l'état de votre serveur, récupérez vos clés, et votre configuration.</p>

        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img class="img-responsive" alt="Status success" src="/img/success-status.png" draggable="false">
                <h4>Connexion au serveur</h4>
                <span class="text-muted">Connexion établie</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <% if (ping == "NaN"){%>
                    <img class="img-responsive" alt="Status success" src="/img/error-status.png" draggable="false">
                <%}else{%>
                    <img class="img-responsive" alt="Status success" src="/img/success-status.png" draggable="false">
                <%}%>
                <h4>Accès internet serveur</h4>
                <% if (ping == "NaN"){%>
                    <span class="text-muted">Aucun accès...</span>
                <%}else{%>
                    <span class="text-muted">Latence: <%=ping + "ms"%></span>
                <%}%>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <% if (vpn == false){%>
                    <img class="img-responsive" alt="Status success" src="/img/error-status.png" draggable="false">
                <%}else{%>
                    <img class="img-responsive" alt="Status success" src="/img/success-status.png" draggable="false">
                <%}%>
                <h4>Serveur OpenVPN</h4>
                <% if (vpn == false){%>
                    <span class="text-muted">Deamon non lancé ou défaillant...</span>
                <%}else{%>
                    <span class="text-muted">Deamon lancé et fonctionnel</span>
                <%}%>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <% if (vpn == false || nbrUsersOnline >= 6){%>
                    <img class="img-responsive" alt="Status success" src="/img/error-status.png" draggable="false">
                <%}else{%>
                    <img class="img-responsive" alt="Status success" src="/img/success-status.png" draggable="false">
                <%}%>
                <h4>Charge du Serveur</h4>
                <% if (vpn == false){%>
                    <span class="text-muted">Deamon non lancé ou défaillant...</span>
                <%}else{%>
                    <span class="text-muted">Utilisateurs connecté(s): <%=nbrUsersOnline%></span>
                <%}%>
            </div>
        </div>
    </div>
</div>

<% include footer %>
