<% include header %>

<div class="container">
    <form class="form-signin" method="POST" action="#">
        <h2 class="form-signin-heading">Connectez vous</h2>
        <label for="inputEmail" class="sr-only">Addresse email</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Addresse email" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Mot de passe" required="">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> se souvenir de moi ?
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
    </form>
</div>

<% include footer %>
