.form-signin {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.form-signin #inputEmail {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.form-signin #inputPassword {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
#badpass,
#exists {
  display: none;
}
#badpass:target,
#exists:target {
  display: block;
}
